.bg-shark {
    background: #252930;
}

.text-haze {
    color: #EAEBEC;
}

/*body {*/
    /*background: #EAEBEC !important;*/
/*}*/

.bg-shark {
    background-color: #252930 !important;
}

nav a:hover {
    text-decoration: none;
    color: #EAEBEC;
}

a.btn-small:hover {
    background-color: #ED954A !important;
    color: #EAEBEC;
    text-decoration: none;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
