.bg-shark {
    background: #252930;
}

.text-haze {
    color: #EAEBEC;
}

/*body {*/
    /*background: #EAEBEC !important;*/
/*}*/

.bg-shark {
    background-color: #252930 !important;
}

nav a:hover {
    text-decoration: none;
    color: #EAEBEC;
}

a.btn-small:hover {
    background-color: #ED954A !important;
    color: #EAEBEC;
    text-decoration: none;
}
