{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" 
                          href="{% static 'external/materialize/css/materialize.min.css' %}"  
                          media="screen,projection"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'external/bootstrap/css/bootstrap.min.css' %}">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'external/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'external/popper.min.js' %}"></script>
    <script src="{% static 'external/bootstrap/js/bootstrap.min.js' %}"></script>
    <title>Hotel Reservation</title>

    <!-- Import Material Icons -->
    <style>
        @font-face {
          font-family: 'Material Icons';
          font-style: normal;
          font-weight: 400;
          src: url({% static 'external/materialicons.woff2' %}) format('woff2');
        }
    </style>
</head>
<body>

    <nav class="blue-grey darken-4">
        <div class="nav-wrapper">
            <a class="brand-logo" href="{% url 'home' %}">Avihama Hotel</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'bookedrooms_list' %}">Booked Rooms</a></li>
                    {% if request.user.is_superuser %}
                        <!-- Dropdown Trigger -->
                        <li>
                            <a class="dropdown-trigger" href='#' 
                               data-target='adminDropdown'>Admin Actions
                               <i class="material-icons right">arrow_drop_down</i>
                            </a>

                        <!-- Dropdown Structure -->
                        <ul id='adminDropdown' class='dropdown-content'>
                            <li>
                                <a href="{% url 'roomdashboard_list' %}">Room Management</a>
                            </li>
                            <li>
                                <a href="{% url 'bookedroomdashboard_list' %}">Booked Rooms</a>
                            </li>
                        </ul>
                        </li>
                    {% endif %}
                    <!-- Dropdown Trigger -->
                    <li>
                        <a class='dropdown-trigger' href='#' 
                           data-target='userDropdown'>{{ user.username }}
                        <i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>

                    <!-- Dropdown Structure -->
                    <ul id='userDropdown' class='dropdown-content'>
                        <li>
                            <a href="{% url 'password_change'%}">Change password</a>
                        </li>
                        <li class="divider" tabindex="-1"></li>
                        <li>
                            <a href="{% url 'logout' %}">Log Out</a>
                        </li>
                    </ul>
                {% else %}
                <li><a href="{% url 'login' %}">Log In</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                {% endif %}
              </ul>
        </div>
    </nav>

    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>

        <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{% static 'external/materialize/js/materialize.min.js' %}">
    </script>
    <script>
        $('.dropdown-trigger').dropdown();
        $(".dropdown-trigger").dropdown({
            coverTrigger: false,
            constrainWidth: false
        });
    </script>
    </body>
</html>
