{% extends 'base.html' %}

{% block title %} Booked Rooms {% endblock title %}

{% block content %}
<h1>Booked Rooms</h1>
{% for bookedroom in object_list %}

{% if forloop.counter|divisibleby:2 %}
    <div class="col s6">
{% else %}
    <div class="row my-2">
    <div class="col s6">
{% endif %}

<div class="card sticky-action">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{ bookedroom.room_category.room_image.url }}" 
            alt="{{ bookedroom.room_category.category_name }}">
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
            {{ bookedroom.room_category.category_name }}<i class="material-icons right">more_vert</i>
        </span>
    </div>
    <div class="card-action">
        <a class="waves-effect waves-light btn-small blue-grey darken-4" 
             href="{% url 'bookedrooms_edit' bookedroom.pk %}">Update Booking</a>
        <a class="waves-effect waves-light btn-small blue-grey darken-4" 
             href="{% url 'bookedrooms_delete' bookedroom.pk %}">Cancel Booking</a>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          {{ bookedrooms.category_name }}<i class="material-icons right">close</i></span>
        <p>
            <div>Number of Rooms: <b>{{ bookedroom.nbr_of_rooms }}</b></div>
            <br>
            <div>Check In: <b>{{ bookedroom.start_date }}</b></div>
            <br>
            <div>Check Out: <b>{{ bookedroom.end_date }}</b></div>
            <br>
            <div>Cost per Room per Day: <b>{{ bookedroom.room_category.price }}</b></div>
            <br>
            <div>Total Cost: <b>{{ bookedroom.total_cost }}</b></div>
        </p>
    </div>
</div>

{% if forloop.counter|divisibleby:2 %}
    </div>
    </div>
{% elif forloop.last %}
{% comment %}Is last but not an even index{% endcomment %}
    </div>
    </div>
{% else %}
    {% comment %}<p>Not Last</p>{% endcomment %}
    </div>
{% endif %}

{% endfor %}
{% endblock content %}
