{% extends 'base.html' %}

{% block content %}
<div class="card mb-3" >
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{ object.room_category.room_image.url }}" 
            class="card-img" alt="{{ object.room_category.category_name }}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title">{{ object.room_category.category_name }}</h2>
                <hr class="my-4">
                <p class="card-text">
                    <small>Number of Rooms: <b>{{ object.nbr_of_rooms }}</b></small>
                    <br>
                    <small>Check In: <b>{{ object.start_date }}</b></small>
                    <br>
                    <small>Check Out: <b>{{ object.end_date }}</b></small>
                    <br>
                    <small>Cost per Room per Day: <b>{{ object.room_category.price }}</small>
                    <br>
                    <small>Total Cost: <b>{{ object.total_cost }}</b></small>
                </p>

                <p>
                <a href="{% url 'bookedrooms_edit' bookedroom.pk %}">Edit</a> | 
                <a href="{% url 'bookedrooms_delete' bookedroom.pk %}">Delete</a>
                </p>
                <p>Back to 
                <a href="{% url 'bookedrooms_list' %}">All Booked Rooms</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
