{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}
<div class="row">
{% for room in object_list %}

{% if forloop.counter|divisibleby:2 %}
    <div class="col s6">
{% else %}
    <div class="row">
    <div class="col s6">
{% endif %}


<div class="card sticky-action">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{ room.room_image.url }}" alt="{{ room.category_name }}">
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
            {{ room.category_name }}<i class="material-icons right">more_vert</i>
        </span>
    </div>
    <div class="card-action">
        <a class="waves-effect waves-light btn-small blue-grey darken-4" href="{% url 'bookedrooms_new' room.pk %}">Book Room</a>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          {{ room.category_name }}<i class="material-icons right">close</i></span>
        <p>{{ room.summary }}<p>
        <p>
            <small>Price: <b>KSh.{{ room.price }}</b></small>
            <br>
            <small>Total Rooms: <b>{{ room.total_rooms }}</b></small>
        </p>
    </div>
</div>


{% if forloop.counter|divisibleby:2 %}
    </div>
    </div>
{% elif forloop.last %}
{% comment %}Is last but not an even index{% endcomment %}
    </div>
    </div>
{% else %}
    {% comment %}Not Last</p>{% endcomment %}
    </div>
{% endif %}

{% endfor %}
</div>
{% endblock content %}
