{% extends 'base.html' %}

{% block content %}
<h1>Detail View</h1>
<div class="row">
    <div class="col s6 m6">
        <div class="card">
            <div class="card-image">
                <img src="{{ object.room_image.url }}" >
            </div>
        </div>
    </div>
    <div class="col s6 m6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ object.category_name }}</span>
                <p>{{ object.summary }}</p>
                <p>
                <small>Price: <b>KSh.{{ object.price }}</b></small>
                <br>
                <small>Total Rooms: <b>{{ object.total_rooms }}</b></small>
                </p>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-light btn-small blue-grey darken-4" 
                    href="{% url 'roomdashboard_edit' roomcategory.pk %}">Edit</a>
                <a class="waves-effect waves-light btn-small blue-grey darken-4" 
                    href="{% url 'roomdashboard_delete' roomcategory.pk %}">Delete</a> | 
                <a class="waves-effect waves-light btn-small blue-grey darken-4" 
                    href="{% url 'roomdashboard_list' %}">All Rooms</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
