{% extends 'base.html' %}

{% block content %}
<h1>Delete</h1>
<div class="row">
    <div class="col s6 m6">
        <div class="card">
            <div class="card-image">
                <img src="{{ object.room_image.url }}" >
            </div>
        </div>
    </div>
    <div class="col s6 m6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ object.category_name }}</span>
                <p>{{ object.summary }}</p>
                <p>
                <small>Price: <b>KSh.{{ object.price }}</b></small>
                <br>
                <small>Total Rooms: <b>{{ object.total_rooms }}</b></small>
                </p>
            </div>
            <div class="card-action">
                <form method="post">
                    {% csrf_token %}
                    <button class="waves-effect waves-light btn-small red darken-4" 
                             type="submit">Delete</button>
                    <a class="waves-effect waves-light btn-small green darken-4" 
                        href="{% url 'roomdashboard_list' %}">Cancel</a>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock content %}
