{% extends 'base.html' %}

{% block content %}
<h1>Delete</h1>
<div class="card mb-3" >
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{ object.room_image.url }}" class="card-img" alt="{{ object.category_name }}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title">{{ object.category_name }}</h2>
                <hr class="my-4">
                <p class="card-text">{{ object.summary }}</p>
                <p class="card-text">
                <small>Price: <b>KSh.{{ object.price }}</b></small>
                <br>
                <small>Total Rooms: <b>{{ object.total_rooms }}</b></small>
                </p>
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger ml-2" type="submit">Delete</button>
                    <a class="btn btn-success ml-s" 
                        href="{% url 'roomdashboard_list' %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
